 .u-section-1 {
  
  background-image: none;
  min-height: 1242px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1190px);
  margin: 1px 0 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1241px;
  background-image: linear-gradient(#d0c5e9, #f2f2f2);
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 1116px;
  min-height: 86px;
  height: auto;
  margin: -1px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-1 {
  margin: 17px auto 0 22px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-menu-1 {
  margin: -48px 0 4px auto;
}

.u-section-1 .u-nav-1 {
  font-size: 1.5rem;
}

.u-section-1 .u-nav-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-image-1 {
  height: 1135px;
  margin-top: 21px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 992px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 771px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-menu-1 {
    width: auto;
    margin-right: 17px;
  }

  .u-section-1 .u-image-1 {
    height: 897px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 244px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    height: 687px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 471px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 29px;
  }

  .u-section-1 .u-menu-1 {
    margin-top: -46px;
    margin-right: 40px;
  }

  .u-section-1 .u-image-1 {
    height: 515px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 673px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 20px;
  }

  .u-section-1 .u-menu-1 {
    margin-top: -45px;
    margin-right: 32px;
  }

  .u-section-1 .u-image-1 {
    height: 324px;
  }
}.blurry-image {
	filter: blur(8px)
}
.curved-border {
	border-radius: 0% 0% 20% 20%;
}